<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>属性传值</string>
	<string>代理传值</string>
	<string>闭包传值</string>
	<string>单例传值</string>
	<string>通知传值</string>
</array>
</plist>
